<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
<!-- 		<setting name="logImpl" value="STDOUT_LOGGING" /> -->
	</settings>
	
	<typeAliases>
		<package name="com.zive.pojo" />
	</typeAliases>
	<!-- default引用environment的id,当前所使用的环境 -->
	<environments default="default">
		<!-- 声明可以使用的环境 -->
		<environment id="default">
			<!-- 使用原生JDBC事务 -->
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://47.113.124.18:3306/qhc_core_2"/>
				<property name="username" value="wang.zw"/>
				<property name="password" value="wangzw0626@qhc"/>
			</dataSource>
<!-- 			<dataSource type="POOLED"> -->
<!-- 				<property name="driver" value="com.mysql.jdbc.Driver"/> -->
<!-- 				<property name="url" value="jdbc:mysql://192.168.0.30:3306/qhc_core"/> -->
<!-- 				<property name="username" value="root"/> -->
<!-- 				<property name="password" value="Mysql"/> -->
<!-- 			</dataSource> -->
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/zive/mapper/common.xml"/>
		<mapper resource="com/zive/mapper/PeopleMapper.xml"/>
		<mapper resource="com/zive/mapper/PeopleMapper2.xml"/>
		<mapper resource="com/zive/mapper/ProductMapper.xml"/>
		<mapper resource="com/zive/mapper/SearchProductMapper.xml"/>
		<mapper resource="com/zive/mapper/DuotaiMapper.xml"/>
		<mapper resource="com/zive/mapper/coo.xml"/>
		<mapper resource="com/zive/mapper/cooProject.xml"/>
		<mapper resource="com/zive/mapper/biInfoShop.xml"/>
		<mapper resource="com/zive/mapper/biInfoMember.xml"/>
		<mapper resource="com/zive/mapper/newFile.xml"/>
		
		<!-- 数据导出 -->
		<mapper resource="com/zive/dataOut/mapper/common.xml"/>
		<mapper resource="com/zive/dataOut/mapper/product.xml"/>
		<mapper resource="com/zive/dataOut/mapper/project.xml"/>
		<mapper resource="com/zive/dataOut/mapper/cooperation.xml"/>
		<mapper resource="com/zive/dataOut/mapper/cooperationWx.xml"/>
		<mapper resource="com/zive/dataOut/mapper/return.xml"/>
		<mapper resource="com/zive/dataOut/mapper/refund.xml"/>
		
		<!-- bi报表相关 -->
		<mapper resource="com/zive/bi/mapper/biProjectPrice.xml"/>
		
		<!-- 必应店项目转换 -->
		<mapper resource="com/zive/parseProject/parseProject.xml"/>
		
		<!-- 会员剩余次数 -->
		<mapper resource="com/zive/biying/biying.xml"/>
		
		<!-- 物料结存单价 -->
		<mapper resource="com/zive/materialPrice/materialPrice.xml"/>
		
		<!-- 自定义更新 -->
		<mapper resource="com/zive/mapper/update.xml"/>
		
		<!-- 386会员信息 -->
		<mapper resource="com/zive/member386Plan/memberCard386Plan.xml"/>
		<!-- 会员状态信息 -->
		<mapper resource="com/zive/member386Plan/memberStatus.xml"/>
		<!-- 康王店数据 -->
		<mapper resource="com/zive/kangwang/kangwang.xml"/>
	</mappers>
</configuration>